
.app-container {
  display: flex;
  height: 100vh; /* Sidebar y contenido ocupan toda la pantalla */
  
}

.main-content {
  flex: 1; /* ocupa todo lo que queda a la derecha del sidebar */
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* ocupa el resto debajo del header */
  padding: 20px;
  overflow-y: auto;
}

.full-screen-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #1a1a1a; /* mismo fondo que tu login-container */
}


